.card_container {
  width: 100%;
  height: 600px;

}

.card_container img {
  max-height: 80%;
  display:block;
  margin: auto;

}

.background {
  width: 100%;
  height: 600px;

}


.background img {
  object-fit: cover;
  width:200px;
  height:200px;
  padding: 30px 20px 0px 20px;
  background-repeat: repeat;
}

.dominant-colors {
  height: 50px;
  margin: 30px auto;
  width: 200px;

}

.color-swatch {
  height: 100%;
  float: left;
}

.match-selection {
  text-align: center;
  flex-grow: 1;
}

.match-selection-container {
  display: flex;
}