.card_container {
  width: 100%;
  height: 600px;

}

.card_container img {
  max-height: 80%;
  display:block;
  margin: auto;

}

.background {
  width: 100%;
  height: 600px;

}


.background img {
  object-fit: cover;
  width:230px;
  height:230px;
  padding: 30px 20px 0px 20px;
  background-repeat: repeat;
}

.dominant-colors {
  height: 100px;
  width: 100px;
}

.color-swatch {
  height: 100%;
  float: left;
}
